<%- include('partials/header', { title }) %>

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas fuga sed amet laudantium modi sint non voluptatibus ipsa quidem dicta!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil minima ut est cupiditate sit magnam dignissimos aliquid quo rem cum!</p>

<%- include('partials/footer') %>
