<%- include('partials/header', { title }) %>

<h1>Contact</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur, pariatur.</p>
<p>Email: Lorem ipsum dolor sit.</p>

<%- include('partials/footer') %>
