<%- include('partials/header', { title }) %>

<h1>Home</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, sint?</p>
<p>Lorem ipsum dolor sit amet.</p>

<%- include('partials/footer') %>
